<!DOCTYPE html>
<html>
<head>
  <title>CoursePilot</title>
</head>
<body>
  <h1>Welcome to CoursePilot</h1>

  <p>
    <a href="/register">Register</a> |
    <a href="/login">Login</a>
  </p>
</body>
</html>